@import url('https://use.typekit.net/koz8klq.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-cape-palliser-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-cape-palliser;

  &:hover {
    @apply bg-cape-palliser-600;
  }
}

html {
  body {
    font-family: mencken-std-head, sans-serif;

    .font-primary {
      font-family: mencken-std-head, sans-serif;
    }

    .font-secondary {
      font-family: roboto, sans-serif;
    }
  }

  &:lang(en-NZ) {
    body {
      font-family: mencken-std-head, sans-serif;

      .font-primary {
        font-family: mencken-std-head, sans-serif;
      }

      .font-secondary {
        font-family: roboto, sans-serif;
      }
    }
  }

  &:lang(zh-CN) {
    body {
      font-family: source-han-serif-sc, sans-serif;

      .font-primary {
        font-family: source-han-serif-sc, sans-serif;
      }

      .font-secondary {
        font-family: source-han-serif-sc, sans-serif;
      }
    }
  }
}

html, body {
  @apply relative h-full;
  scroll-behavior: smooth;
}

body {
  @apply debug-screens;
  touch-action: manipulation;
}
