@import url('https://use.typekit.net/koz8klq.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~aos/dist/aos.css';

::-webkit-scrollbar {
  @apply w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-cape-palliser-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-cape-palliser;

  &:hover {
    @apply bg-cape-palliser-600;
  }
}

html {
  body {
    @apply bg-cod-gray overflow-x-hidden;

    font-family: mencken-std-head, sans-serif;

    .font-primary-default {
      font-family: mencken-std-head, sans-serif;
    }

    .font-secondary-default {
      font-family: roboto, sans-serif;
    }
  }

  &:lang(en-NZ) {
    body {
      font-family: mencken-std-head, sans-serif;

      .font-primary {
        font-family: mencken-std-head, sans-serif;
      }

      .font-secondary {
        font-family: roboto, sans-serif;
      }
    }
  }

  &:lang(zh-CN) {
    body {
      font-family: source-han-serif-sc, sans-serif;

      .font-primary {
        font-family: source-han-serif-sc, sans-serif;
      }

      .font-secondary {
        font-family: source-han-serif-sc, sans-serif;
      }
    }
  }
}

html, body {
  @apply relative h-full;
  scroll-behavior: smooth;
}

body {
  //@apply debug-screens;
  touch-action: manipulation;
}

.language {
  @apply bg-cape-palliser py-[5px] px-[10px] rounded-[30px];
  select {
    @apply text-white bg-cape-palliser border-[0px] cursor-pointer;
  }
}

.pattern-1 {
  @apply relative mb-[10px];

  &:before {
    content: ' ';
    @apply absolute left-0 bottom-[-10px] w-[25px] h-[1px] bg-cape-palliser;
  }
}

.pattern-2 {
  @apply relative mb-[10px];

  &:before {
    content: ' ';
    @apply absolute left-[50%] bottom-[-10px] w-[25px] h-[1px] bg-cape-palliser transform translate-x-[-50%];
  }
}

.pattern-3 {
  @apply relative mb-[30px];

  &:before {
    content: ' ';
    @apply absolute left-[50%] bottom-[-30px] w-[135px] h-[2px] bg-white transform translate-x-[-50%];
  }
}

.animate-spin-custom {
  animation: spin 10s linear infinite !important;
}
